<style>
    .content{
        display: flex;
    }

    h3 {
        color: orange;
    }

    .content {
        margin-top: 8rem;
        margin-left: 4rem;
    }
</style>
<div class="content">
    <div class="text-content">
        <h3>HOLA AMIGO</h3>
        <h1>{{user.Name}}</h1>
    </div>
</div>